.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  min-width: 400px;
  min-height: 600px;
}

.form {
  width: 100%;
  padding: 20px;
  margin: 50px 100px 100px 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-width: 400px;
  max-width: 600px;
  min-height: 400px;
  max-height: 600px;
}

.form-group {
  margin: 25px;
}

label {
  display: block;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:disabled {
  background-color: #ccc;
}

.link-view {
  width: 100%;
  display: flex;
  font-weight: bolder;
  min-width: 450px;
  max-width: 650px;
}

.btn-link {
  display: block;
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  form {
    overflow-x: auto;
    display: block;
  }
}

.mat-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
